<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Cheese Inventory</title>
</head>
<body style="background-image: url('/images/cheeseImg.webp'); margin:0">
    <h1 style="background-color: rgba(0,0,0,.2); color:white;display:flex;justify-content:center;">OOPS ALL CHZZZ</h1>
</body>
</html>