<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/homepage/homepage.js"></script>
    <link rel="stylesheet" href="/homepage/homepage.css">
    <title>Home - Cheese Inventory</title>
</head>
<body>
    <header>
        <div>

        </div>
        <h1>OOPS ALL CHZ</h1>
        <div id="logoutWrapper">
            <button id="logoutBtn">Logout</button>
        </div>
    </header>
    <main>
        <div class="mainContent">

            <nav class="mainContentNav">

                <div class="navItemWrapper">

                    <span>Keyword:</span>
                    <input type="text"/>
                </div>

                <div class="navItemWrapper">
                    <label for="sort">Sort by:</label>
                    <select id="sort">
                        <option value="category">Category</option>
                        <option value="name">Name</option>
                        <option value="price">Price</option>
                        <option value="region">Region</option>
                        <option value="stock">Stock</option>
                        <option value="weight">Weight</option>
                    </select>

                    <select id="sortOrder">
                        <option value="ascending">тнб</option>
                        <option value="descending">тнг</option>
                    </select>
                </div>

                <button id="applyBtn">Apply</button>

            </nav>

            <section class="cheesesContent">
            </section>
        </div>
    </main>
</body>
</html>