<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/homepage/homepage.js"></script>
    <title>Home - Cheese Inventory</title>
</head>
<body>
    <nav>
        <div>

        </div>
        <h1>OOPS ALL CHZZZ</h1>
        <div id="logoutWrapper">
            <button id="logoutBtn">Logout</button>
        </div>
    </nav>
</body>
</html>