<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/homepage/homepage.js"></script>
    <link rel="stylesheet" href="/homepage/homepage.css">
    <title>Home - Cheese Inventory</title>
</head>

<body>

    <header>
        <div></div>
        <h1>OOPS ALL CHZ</h1>
        <div id="logoutWrapper">
            <button id="logoutBtn">Logout</button>
        </div>
    </header>

    <main>
        <div class="mainContent">
            
            <nav class="mainContentNav">
                
                <button class="addBtn">
                    <svg class="addIcon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </button>
                <div class="paramWrapper">
                    
                    <div class="navItemWrapper">
                        <label for="keyword" >Keyword:</label>
                        <input id="keyword"  type="text"/>
                    </div>

                    <div class="navItemWrapper">
                        <label for="sort">Sort by:</label>
                        <select id="sort">
                            <option value="category">Category</option>
                            <option value="name" selected>Name</option>
                            <option value="price">Price</option>
                            <option value="region">Region</option>
                            <option value="stock">Stock</option>
                            <option value="weight">Weight</option>
                        </select>
                        
                        <select id="sortOrder">
                            <option value="ascending">↑</option>
                            <option value="descending">↓</option>
                        </select>
                        
                        <button id="applyBtn">Apply</button>
                    </div>
                    
                </div>
                
            </nav>
            
            <section class="cheesesContent">
            </section>
        </div>
    </main>
    <div class="modalWrapper">
        <div class="addModal">
            <form id="modalForm" onsubmit="return false">

                <h2>Add a New Cheese</h2>

                <div class="inputWrapper">
                    <label for="cheeseName">Cheese Name</label>
                    <input id="cheeseName" type="text" placeholder="Cheese Name"/>
                </div>

                <div class="inputWrapper"> 
                    <label for="cheeseDescription">Description</label>
                    <textarea id="cheeseDescription"></textarea>
                </div>

                <div class="inputWrapper">
                    <label for="cheeseCategory">Category</label>
                    <input id="cheeseCategory" type="text" placeholder="Category"/>
                </div>

                <div class="inputWrapper">
                    <label for="cheesePrice">Price per unit (in dollars)</label>
                    <input id="cheesePrice" type="number"/>
                </div>

                <div class="inputWrapper">
                    <label for="cheeseRegion">Country of origin</label>
                    <input id="cheeseRegion" type="text" placeholder="Country"/>
                </div>

                <div class="inputWrapper">
                    <label for="cheeseWeight">Weight per unit (oz)</label>
                    <input id="cheeseWeight" type="number"/>
                </div>

                <button id="addModalSubmit">Submit</button>

            </form>
        </div>
    </div>
</body>
</html>