<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/login/login.js"></script>
    <link rel="stylesheet" href="/login/login.css">
    <title>Login - Cheese Inventory</title>
</head>
<body>
    <div class="formWrapper">
        <form method="POST" action="/login/handleLoginRequest">
            <h1>
                Login
            </h1>
            <div class="formItem">
                <label for="username" >Username</label>
                <input id="username" name="username" type="text"/>
            </div>
            <div class="formItem">
                <label for="password" >Password</label>
                <input id="password" name="password" type="password"/>
            </div>
            <input name="requestedPath" id="pathMeta" type="text" hidden="true" aria-hidden="true" value="<%= locals.passedPath ? passedPath : ''%>"/>
            <button>Login</button>
            <% if (!(typeof loginErrorMsg === 'undefined')) { %>
                <div id="loginErrorMsg">
                    <%- loginErrorMsg %>
                </div>
            <% } %>
        </form>
    </div>
</body>
</html>